/*Стилизация хедера*/

.header {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    margin-right: auto;
}

.header__list-item {
    margin-right: 15px;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-found {
    margin-right: 24px;
}

/*Стилизация мэйна*/

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.banner {
    width: 1180px;
    height: 372px;
    top: 231px;
    background-color: #EEE4DB;
}

.switches {
    width: 61px;
    height: 74px;
    padding: 248px 1201px 410px 138px ;
}

.title {
    position: absolute;
    width: 307px;
    height: 88px;
    padding: 89px 740px 234px 133px;
}

.servises__list {
    display: flex;

}

