/*Стилизация мэйна*/

.banner {
    position: relative;
    height: 411px;
    background-color: #EEE4DB;
    display: flex;
    margin-top: 80px;
}

.handle {
    display: flex;
    flex-direction: column;
}

.handle__swich {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    margin-left: 28px;
    margin-top: 17px;
    color: rgba(30, 6, 6, 0.05);
}

.swich {
    width: 31px;
    height: 3px;
    margin-left: 31px;
    margin-bottom: 11px;
    background-color: #D6CAC2;
}

.active {
    background: rgba(30, 6, 6, 0.6);
}

.subtitle {
    background: #C29974;
    margin-bottom: 80px;
    top: 603px;
}

.subtitle__text {
    font-family: Open Sans;
    font-style: Bold;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 89px;
    width: 307px;
    height: 88px;
}

.title-two {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px; 
    line-height: 26px;
    color: #1E0606;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    width: 117px;
    height: 22px;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.servises__list {
    display: flex;
}

.monster {
    position: absolute;
    top: -50px;
    left: 445px;
}

.subject {
    margin-top: 90px;
}

.image {
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
}

.link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    position: absolute;
    top: 90px;
    left: 75px;
}

/*popup*/

.popup {
    display: none;
    position: absolute;
    top: 5%;
    left: 30%;
    width: 680px;
    padding: 50px;
}

.open {
    display: block;
}

.popup-form {
    width: 680px;
    padding: 40px;
}

.fieldself-double {
    display: flex;
    justify-content: space-between;
}

.label-wrapper{
    display: flex;
    flex-direction: column;
}
