.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.heading__title {
    margin-top: 60px;
}

.breadcrumbs {
    display: flex;
    gap: 20px;
}

.breadcrumbs-item-home::after {
    content: '';
    display: inline-block;
    background-image: url('../icon/vector__right.svg');
    margin-left: 20px;
    width: 8px;
    height: 12px;
}

.breadcrumbs-item-text {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.breadcrumbs-item-catalog::after {
    content: '';
    display: inline-block;
    background-image: url('../icon/vector__right.svg');
    margin-left: 20px;
    width: 8px;
    height: 12px;
}

.breadcrumbs-item-toys {
    color: #1E0606;
    opacity: 0.5;
}

.background__features {
    background: #7D97DA33;
    height: 254px;
    margin-top: 50px;
}

.features {
    display: flex;
    padding-top: 42px;
}

.title__features {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.features-range {
    width: 188px;
    margin-top: 25px;
    background-image: url('../icon/ellipse.svg');
}

.number-range {
    margin-right: 10px;
}

.features__checkbox {
    display: flex;
    margin-top: 15px;
}

.checkbox-click::before {
    content: '';
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin-left: -25px;
    position: absolute;
    background-image: url('../image/squr.png');
    background-position: center;
    background-repeat: no-repeat;
}

.custom-checkbox:checked + .checkbox-click::before {
    content: '';
    width: 19px;
    height: 19px;
    background-image: url('../icon/checkmark.svg');
}

input {
    display: none;
}

.number__features {
    margin-left: 169px;
}

.color__features {
    margin-left: 94px;
}

.delivery__features {
    margin-left: 156px;
}

.features__radio {
    margin-top: 10px;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #C29974;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-click {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.amount__features {
    margin-left: 69px;
}

.numbers__button {
    margin-top: 15px;
}

.btn__features {
    border: none;
    width: 80px;
    height: 35px;
    background: #FFFFFF;
    margin-left: -4px;
    padding: 7x 19x;
}

.btn-active {
    background: #F3D0DB;
}

.servises__list {
    display: flex;
    margin-top: 60px;
 } 

.servises__list-item {
    display: flex;
    margin-top: 20px;
}

.item-servises {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.control {
    display: flex;
}

.numbers {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    margin-left: 583px;
    margin-top: 78px;
}

.number__link {
    margin-right: 64px;
}

.number__activ {
    color: #C29974;
}