.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.heading__title {
    margin-top: 60px;
}

.breadcrumbs {
    display: flex;
    gap: 20px;
}

.breadcrumbs-item-home::after {
    content: '';
    display: inline-block;
    background-image: url('../icon/vectorright.svg');
    margin-left: 20px;
    width: 8px;
    height: 12px;
}

.breadcrumbs-item-text {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.breadcrumbs-item-catalog::after {
    content: '';
    display: inline-block;
    background-image: url('../icon/vectorright.svg');
    margin-left: 20px;
    width: 8px;
    height: 12px;
}

.breadcrumbs-item-toys {
    color: #1E0606;
    opacity: 0.5;
}

.background {
    position: relative;
    height: 254px;
    background: rgba(125, 151, 218, 0.2,);
    margin-top: 50px;
}

.servises__list {
    display: flex;
    margin: 20px;
}

/* .link-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-top: 30px;
    text-align: center;
} */

